.edit-user {
  max-width: 800px;
  padding: 50px 0 0 0;
}

.edit-user__left {
  float: left;
  overflow: hidden;
  width: 50%;
}

.edit-user__right {
  float: left;
  overflow: hidden;
  width: 50%;
}

.user__avatar {
  border-radius: 48px;
  height: 96px;
  width: 96px;
}
