* {
  margin: 0;
}

html, body {
  font-family: 'Roboto', serif;
  height: 100%;
}

.center {
  margin: 0 auto;
}

.flex--center {
  display: flex;
  justify-content: center;
}

.divider {
  display: inline-block;
  height: auto;
  width: 20px;
}

.button--floating-action {
  bottom: 50px;
  margin-bottom: 100px;
  padding-top: 24px;
  position: fixed;
  right: 24px;
  z-index: 998;
}
