* {
  margin: 0;
}

html, body {
  height: 100%;
}

footer, .push {
  height: 100px;
}

.button--floating-action {
  bottom: 50px;
  margin-bottom: 100px;
  padding-top: 24px;
  position: fixed;
  right: 24px;
  z-index: 998;
}

.block--center-horizontally__margin {
  margin: 0 auto;
}

.block--center-horizontally__flex {
  display: flex;
  justify-content: center;
}

.block--divider {
  display: inline-block;
  height: auto;
  width: 20px;
}

.text--center {
  text-align: center;
}

.test-outer-border {
  border: 1px solid green;
}

.test-inner-border {
  border: 1px solid red;
}
