* {
  margin: 0;
}

html, body {
  height: 100%;
}

footer, .push {
  height: 100px;
}

.button--floating-action {
  bottom: 50px;
  margin-bottom: 100px;
  padding-top: 24px;
  position: fixed;
  right: 24px;
  z-index: 998;
}

.divider {
  width: 20px;
  height: auto;
  display: inline-block;
}

.text-center {
  text-align: center;
}
