* {
  margin: 0;
}

html, body {
  height: 100%;
}

footer, .push {
  height: 100px;
}

.button--floating-action {
  bottom: 50px;
  margin-bottom: 100px;
  padding-top: 24px;
  position: fixed;
  right: 24px;
  z-index: 998;
}

.block--center {
  margin: 0 auto;
}

.block-divider {
  display: inline-block;
  height: auto;
  width: 20px;
}

.flex--center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.text--center {
  text-align: center;
}
