.product-card {
  height: auto;
  max-width: 800px;
  width: 800px;
}

.product-card__left {
  float: left;
  overflow: hidden;
  width: 50%;
}

.product-card__right {
  float: left;
  overflow: hidden;
  width: 50%;
}

.product-card__image {
  height: 320px;
  width: 320px;
}
