.login {
  height: auto;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px;
  width: 400px;
}

.login-button {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.login-forgot-password {
  float: right;
  font-size: 10px;
  margin-top:-20px;
}

.login__input-field {
  width: 340px;
}
