.login {
  height: auto;
  max-width: 400px;
  padding: 10px;
  width: 400px;
  margin: 0 auto;
}

.button-close {
  float: right;
}

.button-forgot-password {
  float: right;
  font-size: 10px;
  margin-top:-20px;
}

.button-login {
  width: 100%;
}

.login__input-field {
  margin: 0 8px;
  width: 100%;
}
