.signup-grid {
  padding: 0;
}

.signup-cell {
  margin: 0;
}

.signup-card {
  height: auto;
  margin: 0 auto;
  max-width: 320px;
  width: 320px;
}

.signup-card__signup-button {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.signup-card__input-field {
  width: 340px;
}
