.transaction-list {
  height: auto;
  margin: 10px;
  max-width: 800px;
  padding: 10px;
  width: 800px;
}

.transaction-list-item__header {
  color: #E0E0E0;
  margin: 0 10px 10px 0;
  max-width: 800px;
  width: 25%;
}

.transaction-list-item__data {
  margin: 10px 10px 10px 0;
  max-width: 800px;
  width: 25%;
}
