.mdl-mini-footer {
  /*background-color: rgb(53,62,72);*/
  /*background-color: rgb(75,87,167);*/
  background-color: rgb(58,77,153);
  box-sizing: border-box;
  color: rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__top {
  padding: 32px 0px 16px;
}

.footer__bottom {
  padding: 0px 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__bottom ul {
  font-weight: 500;
}
