.mdl-layout__header {
  /*border-bottom-color: rgba(204,204,204,0.54);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: none;*/
  background-color: rgb(255,255,255);
}

.mdl-layout__header .mdl-layout__drawer-button {
  /*color: rgba(38,50,56,0.87);*/
  /*color: rgba(0,0,0,0.54);*/
  color: rgba(53,62,72,0.54);
}

.mdl-layout__header .mdl-navigation__link {
  align-items: center;
  color: rgba(53,62,72,0.54);
  display: flex !important;
  flex-direction: row;
  font-size: 15pt;
}

.header__menu-button {
  color: rgba(53,62,72,0.54);
}

.mdl-menu__item {
  color: rgba(53,62,72,0.56);
  font-weight: 500;
}
