.mdl-layout__content {
  background-color: #FAFAFA;
  display: -webkit-flex;
	display: flex;
  -webkit-flex-direction: column;
	flex-direction: column;
}

.layout__header {
  background-color: #FFFFFF;
}

.layout__header-avatar {
  border-radius: 16px;
  height: 32px;
  width: 32px;
}

.layout__header .mdl-layout-title .mdl-navigation__link {
  align-items: center;
  color: #000000;
  display: flex !important;
  flex-direction: row;
  font-family: 'Roboto', serif;
  font-size: 24px;
  font-weight: 700;
}

.layout__header .mdl-navigation .mdl-navigation__link {
  align-items: center;
  color: #000000;
  display: flex !important;
  flex-direction: row;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 500;
}

.layout__footer {
  margin: 0 auto -100px;
  min-height: 100%;
}
