.mdl-layout__header {
  background-color: rgb(255,255,255);
  border-bottom-color: rgba(204,204,204,0.54);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: none;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(38,50,56,0.87);
}

.mdl-layout__header .mdl-layout-title .mdl-navigation__link {
  align-items: center;
  color: rgba(38,50,56,0.87);
  display: flex !important;
  flex-direction: row;
  font-size: 15pt;
}

.mdl-layout__drawer {
  background-color: rgb(55,71,79);
  border: none;
}

.drawer-header {
  box-sizing: border-box;
  color: rgba(236,239,241,1);
  display: flex;
  flex-direction: column;
  font-size: 15pt;
  font-weight: 400;
  height: 51px;
  justify-content: flex-end;
  margin-top: 16px;
  padding: 32px;
}

.drawer-header--logged-in {
  box-sizing: border-box;
  color: rgba(236,239,241,1);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  height: 151px;
  justify-content: flex-end;
  padding: 32px;
}

.mdl-layout__drawer .mdl-navigation {
  flex-grow: 1;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  align-items: center;
  color: rgba(236,239,241,1);
  display: flex !important;
  flex-direction: row;
  font-weight: 400;
  padding-left: 32px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: rgb(33,150,243);
  color: rgba(38,50,56,0.87);
}

.mdl-layout__content {
  background-color: rgb(255,255,255);
  border: none;
  display: -webkit-flex;
	display: flex;
	flex-direction: column;
  -webkit-flex-direction: column;
}

.mdl-mini-footer {
  align-items: center;
  background-color: rgb(55,71,79);
  box-sizing: border-box;
  color: rgba(236,239,241,1);
  font-weight: 400;
  padding: 32px 0px;
}
