.mdl-layout__content {
  background-color: rgb(255,255,255);
  border: none;
	display: flex;
  display: -webkit-flex;
	flex-direction: column;
  -webkit-flex-direction: column;
}

.mdl-grid {
  width: 100%;
}

@media all and (min-width: 500px) {
  .mdl-grid {
    width: 60%;
  }
}
