select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  color: rgba(0,0,0,0.54);
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.54);
}

select:focus {
  outline: none
}

.mdl-selectfield label {
  display: none;
}

/* Use down arrow */
.mdl-selectfield select {
  appearance: none
}

.mdl-selectfield {
  position: relative;
    &:after {
      position: absolute;
      top: 0.75em;
      right: 0.5em;
      /* Create down arrow */
      width: 0;
      height: 0;
      padding: 0;
      content: "";
      border-left: .25em solid transparent;
      border-right: .25em solid transparent;
      border-top: .375em solid rgba(0,0,0,0.54);
      pointer-events: none;
  }
}
