.login {
  height: auto;
  margin: 0 auto;
  width: 320px;
  position: relative;
  z-index: 11;
}

.login__submit-btn {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.login__cancel-btn {
  background-color: rgb(0,0,0);
  color: rgba(255,255,255,1);
  margin-bottom: 20px;
  width: 100%;
}

.login__cancel-btn:hover{
  background-color: rgb(0,0,0);
}

.login__forgot-password {
  float: right;
  font-size: 10px;
  text-decoration: none;
}

.login__forgot-password a:hover {
  cursor: pointer;
}

.login__input-field {
  width: 340px;
}
